---
title: MAAV
---

%section.hero.hero-home.is-link.is-large
  .hero-body
    .container.has-text-centered
      %h1.is-size-1-mobile.title
        MAAV
      %h2.subtitle.is-size-1.is-size-3-mobile
        Pushing autonomous flight forward
%section.hero.is-link.is-medium
  .hero-body.container.has-text-centered
    %h1.is-size-2.is-size-4-mobile
      MAAV is a fully student led project team at the University of Michigan
      that builds an autonomous drone to compete at the annual International
      Aerial Robotics Competition (IARC). Members of MAAV engage in the designing,
      building, and testing of an autonomous unmanned aerial system (UAS) while
      furthering multiple areas of Computer Science and Aerospace Engineering research.
    %br
    %br
    %h2.subtitle{ style: 'font-size: 2.5em' }
      This is what we do
    .columns
      .column
        %h1.is-size-2
          Structures
        %br
        %p.is-size-4
          Our structures team is responsible for the design and fabrication
          of MAAV's airframes. Our quadcopter is a combination of carbon fiber,
          milled plastic, and 3D printed plastic, which creates a durable,
          light airframe that can withstand intense maneuvers and crashes.
      .column
        %h1.is-size-2
          Software
        %br
        %p.is-size-4
          Our software team develops and implements algorithms that enable the
          drone to fly on its own, and creates utilities, such as simulators,
          that are used by other subteams. We also write algorithms to process
          raw data collected from our sensors.
    .columns
      .column
        %h1.is-size-2
          Circuits
        %br
        %p.is-size-4
          Circuits designs and builds electrical hardware, for both the vehicle and
          for testing. The vehicle's printed circuit board (PCB) provides a platform
          for the control software to run and communicate with the navigation software,
          as well as manage the safety of the battery, motors, and operators.
      .column
        %h1.is-size-2
          Business
        %br
        %p.is-size-4
          Our business team is responsible for outreach and management. We
          contact potential sponsors, create the annual budget for all the
          teams, and manage the organization to ensure all teams are working
          in unison to develop and improve the drone.
%section.hero.is-warning.is-medium
  .hero-body.container.has-text-centered
    %h2.is-size-2
      Our Sponsers
    %br
    %br
    %p.is-size-3
      Our success in the development of the quadcopter is due in no small part
      to the support we receive from our sponsors.
    %br
    %br
    %br
    %br
    .columns
      .column
        = image_tag 'home/martin.png'
      .column
        = image_tag 'home/mich_eng.png'
      .column
        = image_tag 'home/grumman.png'
    .columns
      .column
        = image_tag 'home/saleae.png'
      .column
        = image_tag 'home/3d.png'
      .column
        = image_tag 'home/dji.png'
%section.hero.is-dark.is-medium
  .hero-body.container.has-text-centered
    %h2.is-size-2
      Get In Touch
    %br
    %br
    %br
    %p.is-size-3
      Feel free to reach out, we would love to get to know you
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    .columns
      .column
        %a.icon.is-large{ href: 'mailto:maav-leads@umich.edu', target: '_top' }
          %i.fas.fa-6x.fa-envelope
      .column
        %a.icon.is-large{ href: 'http://teamprojects.engin.umich.edu/about/', target: '_top' }
          %i.fas.fa-6x.fa-home
      .column
        %a.icon.is-large{ href: 'https://twitter.com/maavteam', target: '_top' }
          %i.fab.fa-6x.fa-twitter
      .column
        %a.icon.is-large{ href: 'https://medium.com/maav', target: '_top' }
          %i.fab.fa-6x.fa-medium
      .column
        %a.icon.is-large{ href: 'https://www.facebook.com/MichiganAutonomousAerialVehiclesTeam/', target: '_top' }
          %i.fab.fa-6x.fa-facebook
